@model IEnumerable<Category>

    <div class="text-center my-3">
        <h4 class="display-4">
            Categories
        </h4>
    </div>

<ul class="list-group">
    @foreach(var cat in Model)
    {
        <li class="list-group-item">@cat.CategoryName</li>
    }

</ul>
