@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-3">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>ALO 120 BTK Akademi bilgi ve destek hattı</p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>Bilgi teknolojileri Ankara. cankara</p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>btkakademi@gmail.com</p>
    </div>
</div>



